<%- include("layout/main", {title: "Profile" }) %> <%- include("partials/nav.ejs") %>

    <body>
      <% if(user) { %>
        <div class="card" style="width: 18rem">
          <img src="<%= user.thumbnail %>" class="card-img-top" alt="profile pic" />
          <div class="card-body">
            <h5 class="card-title">
              <%= user.username %>
            </h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the bulk
              of the card's content.
            </p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <%= user.email %>
            </li>
            <li class="list-group-item">
              <%= user.password %>
            </li>
            <li class="list-group-item">
              <%= user._id %>
            </li>
          </ul>
          <div class="card-body">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>
        <% } %>
    </body>

    </html>